.colorgraph {
    height: 5px;
    border-top: 0;
    background: rgb(124, 20, 20);
    border-radius: 5px;
}
.row h2{
    text-align: center;
    color: rgb(124, 20, 20);
}
.btn-login{
    background: rgb(124, 20, 20);
    color: white;
}
.container{
    padding-left: 20%;
    padding-top: 10%;
}

input:invalid, textarea:invalid {
  background:red;
}
