/*--------------------------.................................................................................*/
body {
  position: relative;
  top: 50px;
  background-image: url("https://i.gifer.com/TvPB.gif");
}
/*--------------------------.................................................................................*/
 .scroll_box {
    width: 100%;
    height: 1000px;
    background: linear-gradient(to bottom right, rgb(215, 232, 227), rgb(183, 242, 239));
    overflow-y: scroll;
    overflow-x:hidden;
}
/*--------------------------.................................................................................*/
.mensaje {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}
/*--------------------------.................................................................................*/
.mensaje::after {
    content: "";
    clear: both;
    display: table;
}
/*--------------------------.................................................................................*/
.mensaje img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}
/*--------------------------.................................................................................*/
.hora-derecha {
    float: right;
    color: #aaa;
}
/*--------------------------.................................................................................*/
label {
  text-align: center;
}
/*--------------------------.................................................................................*/
