.margin{
    margin-top:20px;    
    margin-bottom:20px;
}

.themeBtn {
    background: rgb(179, 35, 35);
    color: #ffffff !important;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    line-height: 0.8;
    padding: 18px 30px;
    text-transform: capitalize;
    border-radius: 1px;
    letter-spacing: 0.5px;
	border:0px !important;
	cursor:pointer;
	border-radius:100px;

}
a:hover{
    color: #ffffff;
    text-decoration:none;
}
.themeBtn:hover {
    background: rgb(179, 35, 35);
    color: #ffffff;
    box-shadow: 0 10px 25px -2px rgb(179, 35, 35);
}
.menu{
    padding-left: 40%;
    align-content: center;
}
.title{
    padding-top: 10%;
    padding-left: 38%;
    padding-bottom: 5%;
    color: rgb(179, 35, 35);
}